<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    </head>
  <body>
    <div style="background-color: #eee;font-size: 90px;text-align: center"><%= name %></div>
    <div style="background-color: #eee;font-size: 90px;text-align: center"><%= info %></div>
  </body>
</html>
